<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{user/layouts/layout}"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
	<th:block layout:fragment="content">
	<div class="row"  th:object="${product}" style="margin-top: 20px;">
		<div class="col-sm-9">
			<div class="ct1">
				<!-- SHOP PRODUCTS -->
				<div class="row">
					<div class="col-sm-5">
						<div class="product-image"> 
							<img class="card-img-top" th:src="@{'/img/product/' + ${product.image}}" title="${product.image} ảnh bìa"> 
						</div>
					</div>

					<div class="col-sm-7">
						<div class="san-pham-ct">
							<h4 style="color: black; font-weight: bold; text-align: left;">
								<p><span th:text="${product.bookname}"></p>
							</h4>

							<div class="row">
									<span th:text=" 'Thể loại: ' + ${product.producttype.category}+ ' | '+'SKU:'+ ${product.id}"></span>
							</div>

							<!-- <a th:href="@{'/product/detail/' + ${product.id} }">
							</a> -->

							<div class="row">
								<div th:with="condition=${product.discount}">
									<!-- IF CUSTOMER IS ANONYMOUS -->
									<div th:if="${condition}">
										<span style="font-weight: bolder;">Giá tiền: </span>
										<span style="text-decoration: line-through; color: Gray; font-weight: bold;" th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}+' VNĐ'"></span>
										<span style="text-align: left; font-weight: bold; color: #db3208;" th:text="${#numbers.formatDecimal(product.price * (1 - product.discount), 0, 'COMMA', 2, 'POINT')}+' VNĐ'"></span>
										<span style="background-color: green; color: white; border-radius: 25%; font-size: 15px;" th:text="${#numbers.formatInteger(product.discount*100,2)} + '%'"></span>
									</div>
									<!-- ELSE -->
									<div th:unless="${condition}">
										<span style="font-weight: bolder;">Giá tiền: </span>
										<span style="text-align: left; font-weight: bold; color: #db3208;" th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}+' VNĐ'"></span>
									</div>
								</div>
							</div>

							<div class="row">
								<div th:switch="${product.special}">
									<span style="font-weight: bolder;">Tình trạng: </span>
									<span th:case="true" style="color: green; font-weight: bolder;">Còn hàng</span>
									<span th:case="false" style="color: red; font-weight: bolder;">Hết hàng</span>
								</div>
							</div>

							<div class="row">
									<span style="font-weight: bolder;">Mô tả: </span>
									<p style="padding: 5px 10px;" th:text="${product.description}" title="${product.description} mô tả"></p>
							</div>

							<div class="row">
								<div class="col-sm-6" data-id="${product.id}">
									<button class="theo-vao-gio btn-add-to-carts" data-toggle="modal" data-target="#myModals">YÊU THÍCH</button>
								</div>
							</div>

						</div>
						<br>
						<div class="sp-km">
							<h4>Khuyến mãi liên quan</h4>
							<p>
								<img style="margin-top: -5px" th:src="@{/img/icons/icon_km.png}" width="15px" height="15px">
								<span>Giảm ngay 100K khi mua đơn hàng trên 500k</span>
							</p>
							<p>
								<img style="margin-top: -5px" th:src="@{/img/icons/icon_km.png}" width="15px" height="15px">
								<span>Ngày 11-11 tưng bừng đón sale</span>
							</p> 
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /SHOP PRODUCTS -->

		<div class="col-sm-3">
			<div class="ct2">
				<b style="font-size: 15px; color: green;"><i class="fas fa-truck"></i>&nbsp;&nbsp;&nbsp;Sản
					phẩm được miễn phí giao hàng</b>
				<div class="sp-km">
					<h6>Chính sách bán hàng</h6>
					<i><i class="	far fa-check-circle ico"></i> &nbsp;Cam kết hàng
						chính hãng </i><br> <i><i class="fas fa-truck-monster ico"></i>
						&nbsp;Miễn phí giao hàng từ 500K</i><br> <i><i
						class="fas fa-redo ico"></i> &nbsp;Đổi trả miễn phí trong 10 ngày</i> <br>
					<br>
					<h6>Dịch vụ khác</h6>
					<i><i class="fas fa-hammer ico"></i> &nbsp;Giao hàng nhanh trong vòng 1H</i><br> <i><i class="fas fa-laptop ico"></i> &nbsp;Săn voucher cho ngày tết. </i><br> <i><i class="fas fa-satellite-dish ico"></i>
						&nbsp;Đổi sách cũ lấy sách mới</i>
				</div>
			</div>
		</div>
	</div>

	<div id="comments-container">
		<!-- <section id="comment--new" class="comment">
			<div class="avatar comment__avatar" >
				<span class="user">
					<img alt="" th:src="@{'/img/photos/' + ${#authentication.getPrincipal().getPhoto()}}" height="50" width="50" style="border-radius: 50%; padding: 0;">
					<span class="username" th:text="${#authentication.getPrincipal().getUsername()}">Guest</span>
			</div>
		</section> -->
		<h4><strong>Bình luận</strong></h4>
		<ul id="comments">
			<li class="comment" >
				<div class="row">
					<div class="avatar">
						<a href="#">
							<img alt="" th:src="@{'/img/photos/' + ${#authentication.getPrincipal().getPhoto()}}" height="50" width="50" style="border-radius: 50%; padding-right:5px;">
						</a>
					</div>
					<form  th:action="@{addCommentProduct/}+${product.id}" method="post">   								
						<textarea  id="comment__textarea" name="contentOfComment" required="required" placeholder="  Đăng nhập để bình luận"></textarea>     
						<input hidden th:value="${#authentication.getPrincipal().getId()}" name="userId" >
						<button style="float: right;" class="btn btn-success btn-lg">Bình luận</button>    
					</form> 
				</div>
					<br>
				<div th:each="comment:${comments}">
					<div class="comment__content">
						<header>
							<a href="#">
								<i class="fas fa-user-secret fa-2x"></i>								
								<!-- <img alt="avatar" th:src="@{/img/photos/user.jpg}" height="35" width="35" style="border-radius: 50%; padding: 0;"> -->
								<!-- <img alt="" th:src="@{'/img/photos/'+${comment.user.getPhoto()}}" height="35" width="35" style="border-radius: 50%; padding: 0;"> -->
							</a>
							<a href="#">
								<span class="user__link" th:text="${comment.user.username}">tên</span>
							</a>
							<span class="comment__pub-date" th:text=" ${comment.commentedDate}"> ngày tháng</span>

							<a href="#" title="report abuse" class="comment__action"><i
								class="fa fa-exclamation-triangle comment__action--report-abuse" aria-hidden="true"></i></a>
						</header>

						<p style="margin-left: 30px;" th:text="${comment.contentOfComment}">nội dung</p>

						<footer class="comment__action--footer"  style="margin: -25px 0px 100px 0px;">
						<a href="#" title="like" class="comment__action">like</a>
						<a href="#" title="reply" class="comment__action">reply</a>
						</footer>
					</div>
				</div>
			</li>
		</ul>
	</div>

	<!-- SP tương tự -->
	<div class="container" style="margin-top: 20px; margin-bottom: 20px;">
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#tab1">SẢN PHẨM CÙNG LOẠI</a></li>
			<li><a data-toggle="tab" href="#tab2">SẢN PHẨM YÊU THÍCH</a></li>
			<li><a data-toggle="tab" href="#tab3">SẢN PHẨM ĐÃ XEM</a></li>
		</ul>
	
		<div class="tab-content">
			<div id="tab1" class="tab-pane fade in active">
				<div class="gia-soc1" style="margin-top: 30px;">
					<div class="row" style="padding: 20px; margin-top: -10px; height: auto; justify-content: center;">
						<th:block th:each="i: ${#numbers.sequence(0, 2)}" th:with="product=${products[i]}">
							<div class="col-sm-3">
								<div class="card-group">
									<div class="card ">
											<!-- Top của card -->
											<a th:href="@{/product/detail(id=${product.id})}" class="caption-picture">
												<div class="discount" th:with="condition=${product.discount}" >
													<!-- IF -->
													<div th:if="${condition}">
														<div class="discount-label green"> <span th:text="${#numbers.formatInteger(product.discount*100,2)} + '%'"></span> </div>
													</div>
													<!-- ELSE -->
													<div th:unless="${condition}">
														<div class="discount-label "><span style="color: whitesmoke;">0</span></div>
													</div>
												</div> 
												<img class="card-img-top" th:src="@{'/img/product/' + ${product.image}}" title="something">
											</a>
											<!-- Body của card -->
											<div class="card-body">
												<div class="caption-price">
													<p style="padding: 3px; text-align: center; color: black;" class="book-name" th:text="${product.bookname}"></p>
													<div th:with="condition=${product.discount}" class="d-flex justify-content-center">
														<!-- IF CUSTOMER IS ANONYMOUS -->
														<div th:if="${condition}" >
															<span style="text-decoration: line-through; color: Gray; font-weight: bold;" th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}+' VNĐ'"></span>
															<span style="text-align: left; font-weight: bold; color: #db3208;" th:text="${#numbers.formatDecimal(product.price * (1 - product.discount), 0, 'COMMA', 2, 'POINT')}+' VNĐ'"></span>
														</div>
														<!-- ELSE -->
														<div th:unless="${condition}">
															<span style="text-align: left; font-weight: bold; color: #db3208;" th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}+' VNĐ'"></span>
														</div>
													</div>
												</div>
												<br>
												<div data-id="${product.id}" class="caption-button">
													<button class="btn btn-sm btn-danger btn-add-to-cart">
														<i class="glyphicon glyphicon-shopping-cart"></i>
													</button>
				
													<button class="btn btn-sm btn-warning btn-star">
														<i class="glyphicon glyphicon-star"></i>
													</button>
				
													<button class="btn btn-sm btn-success btn-open-dialog"
														data-toggle="modal" data-target="#myModal">
														<i class="glyphicon glyphicon-envelope"></i>
													</button>
												</div>
												<br>
											</div>
										</div>
								</div>
							</div>
						</th:block>
					</div>
				</div>
			</div>
			
			<div id="tab2" class="tab-pane fade">
				<div class="gia-soc1" style="margin-top: 30px;">
					<div class="row" style="padding: 20px; margin-top: -10px; height: auto; justify-content: center;">
						<th:block th:each="i: ${#numbers.sequence(0, 1)}" th:with="product=${products[i]}">
							<div class="col-sm-3">
								<div class="card-group">
									<div class="card ">
											<!-- Top của card -->
											<a th:href="@{/product/detail(id=${product.id})}" class="caption-picture">
												<div class="discount" th:with="condition=${product.discount}" >
													<!-- IF -->
													<div th:if="${condition}">
														<div class="discount-label green"> <span th:text="${#numbers.formatInteger(product.discount*100,2)} + '%'"></span> </div>
													</div>
													<!-- ELSE -->
													<div th:unless="${condition}">
														<div class="discount-label "><span style="color: whitesmoke;">0</span></div>
													</div>
												</div> 
												<img class="card-img-top" th:src="@{'/img/product/' + ${product.image}}" title="something">
											</a>
											<!-- Body của card -->
											<div class="card-body">
												<div class="caption-price">
													<p style="padding: 3px; text-align: center; color: black;" class="book-name" th:text="${product.bookname}"></p>
													<div th:with="condition=${product.discount}" class="d-flex justify-content-center">
														<!-- IF CUSTOMER IS ANONYMOUS -->
														<div th:if="${condition}" >
															<span style="text-decoration: line-through; color: Gray; font-weight: bold;" th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}+' VNĐ'"></span>
															<span style="text-align: left; font-weight: bold; color: #db3208;" th:text="${#numbers.formatDecimal(product.price * (1 - product.discount), 0, 'COMMA', 2, 'POINT')}+' VNĐ'"></span>
														</div>
														<!-- ELSE -->
														<div th:unless="${condition}">
															<span style="text-align: left; font-weight: bold; color: #db3208;" th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}+' VNĐ'"></span>
														</div>
													</div>
												</div>
												<br>
												<div data-id="${product.id}" class="caption-button">
													<button class="btn btn-sm btn-danger btn-add-to-cart">
														<i class="glyphicon glyphicon-shopping-cart"></i>
													</button>
				
													<button class="btn btn-sm btn-warning btn-star">
														<i class="glyphicon glyphicon-star"></i>
													</button>
				
													<button class="btn btn-sm btn-success btn-open-dialog"
														data-toggle="modal" data-target="#myModal">
														<i class="glyphicon glyphicon-envelope"></i>
													</button>
												</div>
												<br>
											</div>
										</div>
								</div>
							</div>
						</th:block>
					</div>
				</div>
			</div>
			
			
			<div id="tab3" class="tab-pane fade">
				<div class="gia-soc1" style="margin-top: 30px;">
					<div class="row" style="padding: 20px; margin-top: -10px; height: auto; justify-content: center;">
						<th:block th:each="i: ${#numbers.sequence(0, 1)}" th:with="product=${products[i]}">
							<div class="col-sm-3">
								<div class="card-group">
									<div class="card ">
											<!-- Top của card -->
											<a th:href="@{/product/detail(id=${product.id})}" class="caption-picture">
												<div class="discount" th:with="condition=${product.discount}" >
													<!-- IF -->
													<div th:if="${condition}">
														<div class="discount-label green"> <span th:text="${#numbers.formatInteger(product.discount*100,2)} + '%'"></span> </div>
													</div>
													<!-- ELSE -->
													<div th:unless="${condition}">
														<div class="discount-label "><span style="color: whitesmoke;">0</span></div>
													</div>
												</div> 
												<img class="card-img-top" th:src="@{'/img/product/' + ${product.image}}" title="something">
											</a>
											<!-- Body của card -->
											<div class="card-body">
												<div class="caption-price">
													<p style="padding: 3px; text-align: center; color: black;" class="book-name" th:text="${product.bookname}"></p>
													<div th:with="condition=${product.discount}" class="d-flex justify-content-center">
														<!-- IF CUSTOMER IS ANONYMOUS -->
														<div th:if="${condition}" >
															<span style="text-decoration: line-through; color: Gray; font-weight: bold;" th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}+' VNĐ'"></span>
															<span style="text-align: left; font-weight: bold; color: #db3208;" th:text="${#numbers.formatDecimal(product.price * (1 - product.discount), 0, 'COMMA', 2, 'POINT')}+' VNĐ'"></span>
														</div>
														<!-- ELSE -->
														<div th:unless="${condition}">
															<span style="text-align: left; font-weight: bold; color: #db3208;" th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}+' VNĐ'"></span>
														</div>
													</div>
												</div>
												<br>
												<div data-id="${product.id}" class="caption-button">
													<button class="btn btn-sm btn-danger btn-add-to-cart">
														<i class="glyphicon glyphicon-shopping-cart"></i>
													</button>
				
													<button class="btn btn-sm btn-warning btn-star">
														<i class="glyphicon glyphicon-star"></i>
													</button>
				
													<button class="btn btn-sm btn-success btn-open-dialog"
														data-toggle="modal" data-target="#myModal">
														<i class="glyphicon glyphicon-envelope"></i>
													</button>
												</div>
												<br>
											</div>
										</div>
								</div>
							</div>
						</th:block>
					</div>
				</div>
			</div>
		</div>
	</div>

</th:block>
</body>

</html>