*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

/* html {
	font-size: 62.5%
}

body {
	font-family: 'Roboto', sans-serif;
	line-height: 2;
	font-weight: 400;
	padding-top: 4.5rem;
} */

:root {
  --praimary-color: #5f5f5f;
  --hover-color: black;
  --active-color: #4caf50;
  --text-color: white;
}

a {
  text-decoration: none;
}

.navbar {
  width: 100%;
  min-height: 4.5rem;
  font-size: 16px;
  margin-bottom: 0px;
}
.navbar-nav > li:hover {
  color: #fff;
  background-color: var(--active-color);
}
