
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/layouts/layout}"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.6.3/css/all.min.css">

</head>
<body>
	<th:block layout:fragment="content">
		<div class="container">


			<!-- Tab link-->
			<div class="container" style="margin-top: 20px; margin-bottom: 20px;">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#tab1">Hồ sơ cá nhân</a></li>
					<li><a data-toggle="tab" href="#tab2">Thay đổi mật khẩu </a></li>
					<span th:text="${message}" style="font-size: 18px; color: green;"></span> 
				</ul>
			<!-- TAB THÔNG TIN CÁ NHÂN -->
				<div class="tab-content">
					<div id="tab1" class="tab-pane fade in active">
						<div class="row">
					<div class="col-sm-12">
						<div class="panel panel-default">
							<div class="panel-heading resume-heading">
								<div class="row" th:object="${profile}">
									<div class="col-lg-12">
										<form th:action="@{/acount/edit}" method="post" enctype="multipart/form-data">
										<div class="col-xs-12 col-sm-4">
											<figure>
												<img width=300px; height=300px; class="img-circle" alt="avatar" th:src="@{'/img/photos/' + ${profile.getPhoto()}}">
												<input type="file" name="photo_upload"/>
											</figure>
										
											<div class="row">
												<div class="col-xs-12 social-btns">
													<div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
														<a href="#" class="btn btn-social btn-block btn-google">
															<i class="fa fa-google"></i>
														</a>
													</div>
													<div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
														<a href="#" class="btn btn-social btn-block btn-facebook">
															<i class="fa fa-facebook"></i>
														</a>
													</div>
													<div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
														<a href="#" class="btn btn-social btn-block btn-twitter">
															<i class="fa fa-twitter"></i>
														</a>
													</div>
													<div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
														<a href="#" class="btn btn-social btn-block btn-linkedin">
															<i class="fa fa-linkedin"></i>
														</a>
													</div>
													<div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
														<a href="#" class="btn btn-social btn-block btn-github">
															<i class="fa fa-github"></i>
														</a>
													</div>
													<div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
														<a href="#"
															class="btn btn-social btn-block btn-stackoverflow"> <i
															class="fa fa-stack-overflow"></i>
														</a>
													</div>
												</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6">
											
											<ul class="list-group">
												<li class="list-group-item">
													<span class="col-sm-6"><i class="fas fa-address-card"></i> Họ: </span> 
													<input class="col-sm-6" th:value="${profile.firstname}" required="required" name="firstname"></input>
												</li>

												<li class="list-group-item">
													<span class="col-sm-6"><i class="fa fa-address-card" aria-hidden="true"></i> Tên: </span> 
													<input class="col-sm-6" th:value="${profile.lastname}" required="required" name="lastname"></input>
												</li>

												<li class="list-group-item"><span class="col-sm-6">
												<i class="fas fa-user-tag"></i>Tên đăng nhập: </span> 
												<span class="col-sm-6" th:text="${profile.username}" readonly="readonly"></span></li>

												<li class="list-group-item" th:switch="${profile.enabled}">
													<span class="col-sm-6"><i class="fas fa-check-square"></i> Trạng thái tài khoản: </span> 
													<span class="col-sm-6" th:case="true" style="color: green; font-weight: bolder;">ACTIVE</span> 
													<span class="col-sm-6" th:case="false" style="color: red; font-weight: bolder;">INACTIVE</span>
												</li>
												<li class="list-group-item" th:switch="${profile.roles}">
													<span class="col-sm-6"><i class="fas fa-user-tag"></i> Vai trò: </span> 
													<span class="col-sm-6" th:case="ADMIN" style="color: rgb(83, 1, 131); font-weight: bolder;">ADMIN</span>
													<span class="col-sm-6" th:case="USER" style="color: blue; font-weight: bolder;">USER</span>
												</li>
												<!-- <a href="mail-compose.html"
													class="btn btn-danger btn-block btn-compose-email">Compose
													Email</a> -->
												<button class="btn btn-primary btn-block btn-compose-email">Cập nhật</button>
											</ul>
											
										</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
					</div>
		<!--TAB THAY ĐỔI MẬT KHẨU -->
					<div id="tab2" class="tab-pane fade">
						<div class="row">
					<div class="col-sm-12">
						<div class="panel panel-default">
							<div class="panel-heading resume-heading">
								<div class="row" th:object="${profile}">
									
									<div class="col-lg-12">
										<div class="col-xs-12 col-sm-4">
											<figure>
											
												<img class="img-circle img-responsive" alt="avatar" 
													th:src="@{/img/icons/keys.png}">
											</figure>
											<div class="row">
												<div class="col-xs-12 social-btns">
													<div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
														<a href="#" class="btn btn-social btn-block btn-google">
															<i class="fa fa-google"></i>
														</a>
													</div>
													<div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
														<a href="#" class="btn btn-social btn-block btn-facebook">
															<i class="fa fa-facebook"></i>
														</a>
													</div>
													<div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
														<a href="#" class="btn btn-social btn-block btn-twitter">
															<i class="fa fa-twitter"></i>
														</a>
													</div>
													<div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
														<a href="#" class="btn btn-social btn-block btn-linkedin">
															<i class="fa fa-linkedin"></i>
														</a>
													</div>
													<div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
														<a href="#" class="btn btn-social btn-block btn-github">
															<i class="fa fa-github"></i>
														</a>
													</div>
													<div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
														<a href="#"
															class="btn btn-social btn-block btn-stackoverflow"> <i
															class="fa fa-stack-overflow"></i>
														</a>
													</div>
												</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6">
										
											<form th:action="@{/account/change}" method="post" >
											<ul class="list-group">
												<li class="list-group-item"><span class="col-sm-6">
													<i class="fas fa-address-card"></i> Mật khẩu: </span> 
													<input type="password" class="col-sm-6" name="password" onfocus="this.value=''"
													required="required" pattern=".{6,}" placeholder="Password" >
													<input class="col-sm-6" name="id" th:value="${profile.id}" hidden="hidden" readonly="readonly"></input>
												</li>

												<li class="list-group-item"><span class="col-sm-6">
														<i class="fa fa-address-card" aria-hidden="true"></i> Mật khẩu mới: </span> 
														<input type="password" class="col-sm-6" name="newpassword" onfocus="this.value=''"
													required="required" pattern=".{6,}" placeholder="New Password" >
												</li>

												<li class="list-group-item"><span class="col-sm-6">
													<i class="fas fa-user-tag"></i> Xác nhận mật khẩu: </span> 
													<input type="password" class="col-sm-6" placeholder="Confirm Password" name="confirmPassword" required>
												</li>

												
												<button class="btn btn-primary btn-block btn-compose-email">Cập nhật</button>
											</ul>
											</form>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
					</div>
				</div>
			</div>
















			

		</div>
	</th:block>
</body>
</html>



