<!DOCTYPE html>
	<html lang="en" xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/layout}"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

	<th:block layout:fragment="content">
			<!-- container section start -->
		<section id="container" class="">
			<!--main content start-->
			<section id="main-content">
				<section class="wrapper">
					<div class="row">
						<div class="col-lg-12">
							<h3 class="page-header"><i class="fa fa fa-bars"></i>Danh sách các nước</h3>
							<ol class="breadcrumb">
								<li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
								<li><i class="fa fa-bars"></i>Pages</li>
								<li><i class="fa fa-square-o"></i>Pages</li>
							</ol>
						</div>
					</div>
					<!-- page start-->
					<div class="panel panel-default">
						<div class="panel-body">
							<form  th:action="@{/products/addNew}" method="post">
								<div class="row">
									<div class="form-group col-sm-6">
										<label>ID:</label>
										<input class="form-control" readonly="true" placeholder="Auto Number" />
									</div>

									<div class="form-group col-sm-6">
										<label>Giảm giá:</label>
										<input name="discount" class="form-control" type="number"
											required="required" min="0" oninput="validity.valid||(value='');"
											step="0.05" />
									</div>
								</div>

								<div class="row">
									<div class="form-group col-sm-6">
										<label>Tên sản phẩm:</label>
										<input name="bookname" class="form-control" required="required"
											pattern=".{6,}" title="Tên sản phẩm phải từ 6 ký tự trở lên" />
									</div>
									<div class="form-group col-sm-6">
										<label>Đơn giá:</label>
										<input name="price" class="form-control" type="number"
											required="required" min="0" />
									</div>
								</div>
								
								<div class="row">
									<div class="form-group col-sm-6">
										<label>Số lượng:</label>
										<input name="quantity" class="form-control" type="number"
											required="required" min="0" />
									</div>
									<div class="form-group col-sm-6">
										<label>Loại:</label>
										<select class="form-control" id="ddlProductTypeDetails" name="producttypeid">
											<option>-SELECT-</option>			    
											<option th:each="producttype : ${producttypes}"
													th:value="${producttype.id}"
													th:text="${producttype.category}">
											</option>
										</select>	
									</div>
								</div>

								<div class="row">
									<div class="form-group col-sm-6">
										<label>Ngày thêm:</label>
										<input id="hvn" name="productDate" class="form-control" />
									</div>
									<div class="form-group col-sm-6">
										<label>Số lượng xem sản phẩm:</label>
										<input name="count" class="form-control" readonly="true" />
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6 form-group">
										<label>Đặc biệt:</label>
										<div class="row">
											<div class="col-sm-4">
												  <input type="radio" id="show" name="available" value="true" checked="checked">
												  <label>Hiện sản phẩm</label>
											</div>
											<div class="col-sm-4">
												  <input type="radio" id="notshow" name="available" value="false">
												  <label>Ẩn sản phẩm</label><br>
											</div>
										</div>
									</div>

									<div class="col-sm-6 form-group">
										<label>Tình trạng hàng:</label>
										<div class="row">
											<div class="col-sm-4">
												  <input type="radio" id="haveproduct" name="special" value="true" checked="checked">
												  <label>Còn hàng</label>
											</div>
											<div class="col-sm-4">
												  <input type="radio" id="nohaveproduct" name="special" value="false">
												  <label>Hết hàng</label><br>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="form-group col-sm-6">
										<label>Tác giả:</label> 
										<input name="author" class="form-control"
											pattern=".{3,}" title="Tên tác giả phải từ 3 ký tự trở lên" />
									</div>

									<div class="form-group col-sm-6">
										<label>Hình ảnh:</label> 
										<input type="file" name="image" class="form-control" />
										<!-- <form:hidden path="image" /> -->
									</div>
								</div>

								<div class="row">
									<div class="form-group col-sm-12">
										<label>Mô tả:</label>
										<textarea id="description" name="description" class="form-control"></textarea>
									</div>
					
									<div class="form-group col-sm-12">
										<button type="submit" class="btn btn-primary">Submit</button>
									</div>
								</div>
							</form>
						</div>
					</div>
					<!-- page end-->
				</section>
			</section>
			<!--main content end-->
			<div class="text-right">
				<div class="credits">
					<!--
				All the links in the footer should remain intact.
				You can delete the links only if you purchased the pro version.
				Licensing information: https://bootstrapmade.com/license/
				Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin
			-->
				</div>
			</div>
		</section>
		<script src="ckeditor/ckeditor.js"></script>
		<script>
			$(document).ready(function() {
				var editor = '';
				editor = CKEDITOR.replace('description');
	
			});
		</script>
		<!-- container section end -->
		<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Add Country</h5>
					</div>
					<div class="modal-body">
						<form th:action="@{/countries/addNew}" method="post">

							<div class="form-group">
								<label for="recipient-name" class="col-form-label">Continent:</label>
								<input type="text" class="form-control" id="recipient-name" name="continent">
							</div>

							<div class="form-group">
								<label for="recipient-name" class="col-form-label">Description:</label>
								<input type="text" class="form-control" id="recipient-name" name="description">
							</div>

							<div class="form-group">
								<label for="recipient-name" class="col-form-label">Captital:</label>
								<input type="text" class="form-control" id="recipient-name" name="capital">
							</div>

							<div class="form-group">
								<label for="recipient-name" class="col-form-label">Code:</label>
								<input type="text" class="form-control" id="recipient-name" name="code">
							</div>

							<div class="form-group">
								<label for="recipient-name" class="col-form-label">Nationality:</label>
								<input type="text" class="form-control" id="recipient-name" name="nationality">
							</div>

							<div class="form-group modal-footer">
								<button type="submit" class="btn btn-primary">Submit</button>
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Update Country</h5>
					</div>
					<div class="modal-body">
						<form th:action="@{/countries/update}" method="put">
							<div class="form-group">
								<label for="recipient-name" class="col-form-label">Id:</label>
								<input type="text" class="form-control" id="idEdit" name="id" readonly>
							</div>

							<div class="form-group">
								<label for="recipient-name" class="col-form-label">Continent:</label>
								<input type="text" class="form-control" id="continentEdit" name="continent">
							</div>

							<div class="form-group">
								<label for="recipient-name" class="col-form-label">Description:</label>
								<input type="text" class="form-control" id="descriptionEdit" name="description">
							</div>

							<div class="form-group">
								<label for="recipient-name" class="col-form-label">Capital:</label>
								<input type="text" class="form-control" id="capitalEdit" name="capital">
							</div>

							<div class="form-group">
								<label for="recipient-name" class="col-form-label">Code:</label>
								<input type="text" class="form-control" id="codeEdit" name="code">
							</div>

							<div class="form-group">
								<label for="recipient-name" class="col-form-label">Nationality:</label>
								<input type="text" class="form-control" id="nationalityEdit" name="nationality">
							</div>

							<div class="form-group modal-footer">
								<button type="submit" class="btn btn-primary">Update</button>
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Confirm Delete</h5>
					</div>
					<div class="modal-body">
						<p>Bạn có chắc là muốn xóa bản ghi này?</p>
					</div>
					<div class="modal-footer">
						<a class="btn btn-primary" id="confirmDeleteButton" href="">Yes, Delete</a>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>

	</th:block>
</html>