<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/layout}"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<th:block layout:fragment="content">
	<!-- container section start -->
	<section id="container" class="">
		<!--main content start-->
		<section id="main-content">
			<section class="wrapper">
				<div class="row">
					<div class="col-lg-12">
						<h3 class="page-header">
							<i class="fa fa fa-bars"></i> List of Users
						</h3>
						<ol class="breadcrumb">
							<li><i class="fa fa-home"></i><a href="/index">Home</a></li>
							<li><i class="fa fa-bars"></i>User</li>
							<li th:utext="${message}" class="text-danger font-weight-bold"></li>
						</ol>
					</div>
				</div>
				<!-- page start-->
				<div class="row">
					<div class="col-lg-12">
						<button type="button" class="btn btn-primary" data-toggle="modal"
							data-target="#addModal">New User</button>

						<table class="table table-striped table-advance table-hover">
							<thead>
								<tr>
									<th>PHOTO</th>
									<th>ID</th>
									<th>USERNAME</th>
									<th>FIRSTNAME</th>
									<th>LASTNAME</th>
									<th>ROLE</th>
									<th>ENABLED</th>
									<th>ACTIONS</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="user:${users}">
									<td>
										<a id="photoButton" th:href="@{'/img/photos/' + ${user.photo} }">
											<img th:src="@{'/img/photos/' + ${user.photo}}" width="40" height="40" style="border-radius: 50%;">
										</a>
									</td>
									<td th:text="${user.id}"></td>
									<td th:text="${user.username}"></td>
									<td th:text="${user.firstname}"></td>
									<td th:text="${user.lastname}"></td>
									<td th:switch="${user.roles}" >
										<p th:case="ADMIN" style="color: rgb(83, 1, 131); font-weight: bolder;">ADMIN</p>
										<p th:case="USER" style="color: blue; font-weight: bolder;">USER</p>
									</td>
									<td th:switch="${user.enabled}">
										<p th:case="true" style="color: green; font-weight: bolder;">ACTIVE</p>
										<p th:case="false" style="color: red; font-weight: bolder;">INACTIVE</p>
									</td>
									<td>
										<div class="btn-group">
											<a th:href="@{/users/findById/(id=${user.id})}"
												class="btn btn-primary" id="editButton"><i
												class="icon_pencil-edit"></i></a>  

											<a th:href="@{/users/delete/(id=${user.id})}"
												class="btn btn-danger" id="deleteButton"><i
												class="icon_close_alt2"></i></a>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- page end-->
			</section>
		</section>
		<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"> 
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Update User</h5>
					</div>
					<div class="modal-body">
						<form th:action="@{/users/update}" method="put">
							<div class="row">
								<div class="form-group col-sm-6">
									<label>ID:</label>
									<input type="text" class="form-control" id="idEdit" name="id" readonly>
								</div>

								<div class="form-group col-sm-6">
									<label>AVATAR:</label>
									<div class="form-control">
										<input type="file" class="form-control-file" id="photoEdit" name="photo" placeholder="Select File" accept="image/*">
									</div>
								</div>
							</div>
				
							<div class="row">
								<div class="form-group col-sm-6">
									<label>USERNAME:</label>
									<input type="text" class="form-control" id="usernameEdit" name="username" readonly>

								</div>
								<div class="form-group col-sm-6">
									<label>Mật khẩu:</label>
									<input type="password" class="form-control" id="passwordEdit" name="password" onfocus="this.value=''"
									required="required" pattern=".{6,}">
								</div>
							</div>
				
							<div class="row">
								<div class="form-group col-sm-6">
									<label>FIRSTNAME:</label>
									<input type="text" class="form-control" id="firstnameEdit" name="firstname">
								</div>
								<div class="form-group col-sm-6">
									<label>LASTNAME:</label>
									<input type="text" class="form-control" id="lastnameEdit" name="lastname">
								</div>
							</div>
				
							<div class="row">
								<div class="form-group col-sm-6">
									<label>ROLE:</label>
									<div class="form-group">
										<select class="form-control" id="rolesEdit" name="roles">
											<option>ADMIN</option>
											<option>USER</option>
										</select>				    
									</div>
								</div>
				
								<div class="form-group col-sm-6">
									<label>ENABLED:</label>
									<div class="form-group">
										<select class="form-control" id="enabledEdit" name="enabled">
											<option value="true">ACTIVE</option>
											<option value="false">INACTIVE</option>
										</select>				    
									</div>
								</div>
							</div>

							<input type="text" id="imageEdit" name="image" hidden>
							<div class="form-group modal-footer">
								<button type="submit" class="btn btn-primary">Update</button>
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
	
						</form>
					</div>
				</div>
			</div>
		</div>
		
		<div class="modal fade" tabindex="-1" role="dialog" id="photoModal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Photo</h5>
					</div>
				<div class="modal-body" style="text-align: center;">
					<img id="employeePhoto" src="" width="70%" height="70%">
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
			</div>
		</div> 
		
		<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Confirm Delete</h5>
					</div>
					<div class="modal-body">
						<p>Bạn có chắc là muốn xóa người dùng này?</p>
					</div>
					<div class="modal-footer">
						<a class="btn btn-primary" id="confirmDeleteButton" href="">Yes, Delete</a>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Create User</h5>
				</div>
				<div class="modal-body">
					<form th:action="@{/users/addNew}" method="post">
						<div class="row">
							<div class="form-group col-sm-6">
								<label>USERNAME:</label>
								<input type="text" class="form-control" placeholder="Username"
									name="username" id="username" autofocus required>
							</div>
	
							<div class="form-group col-sm-6">
								<label>AVATAR:</label>
								<div class="form-control">
									<input type="file" class="form-control-file" id="photo" name="photo" placeholder="Select File" accept="image/*">
								</div>
							</div>
						</div>

						<div class="row">
							<div class="form-group col-sm-6">
								<label>PASSWORD:</label>
								<input type="password" class="form-control"
									placeholder="Password" id="password" name="password" required>
							</div>
	
							<div class="form-group col-sm-6">
								<label>CONFIRM PASSWORD:</label>
								<input type="password" class="form-control"
									placeholder="Confirm Password" id="confirmPassword" name="confirmPassword" required>
							</div>
						</div>

						<div class="row">
							<div class="form-group col-sm-6">
								</i><label>FIRSTNAME:</label>
								<input type="text" class="form-control" placeholder="Firstname"
									autofocus name="firstname">
							</div>
	
							<div class="form-group col-sm-6">
								<label>LASTNAME:</label>
								<input type="text" class="form-control" placeholder="Lastname"
									autofocus name="lastname">
							</div>
						</div>

						<div class="row">
							<div class="form-group col-sm-6">
								<label>ENABLED:</label>
								<div class="form-group">
									<select class="form-control" id="enabled" name="enabled">			    
										<option value="true"  selected="selected">ACTIVE</option>
										<option value="false">INACTIVE</option>
									</select>
								</div>
							</div>

							<div class="form-group col-sm-6">
								<label>ROLE:</label>
								<div class="form-group">
									<select class="form-control" id="roles" name="roles">	    
										<option>ADMIN</option>
										<option  selected="selected">USER</option>
									</select>
								</div>
							</div>
						</div>

						<div class="modal-footer ">
							<button type="submit" class="btn btn-primary" href="/users">Submit</button>
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Close</button>
						</div>
					</form>
				</div>

			</div>
		</div>
		</div>
	</section>
	<!-- container section end -->
</th:block>
</html>
